

/* --- Custom loader ---  */

#loader{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    transition-delay: 1s;


}

#loader img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#loader h1{
    position: absolute;
    font-size: 17pt;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 50%;
}

/* --- fonts locatie ---  */

@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

/*  font-family: Anton  */
@font-face {
    font-family: Anton;
    src: url('../fonts/Anton/Anton-Regular.ttf');
}

/*  font-family: Josefin  */
@font-face {
    font-family: Josefin;
    src: url('../fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}

/*  font-family: Lexend  */
@font-face {
    font-family: Lexend;
    src: url('../fonts/Lexend_Deca/LexendDeca-Regular.ttf');
}

/*  font-family: Livvic  */
@font-face {
    font-family: Livvic;
    src: url('../fonts/Livvic/Livvic-Regular.ttf');
}

html,
body {
    margin: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
}


/* --- Voorgeprogrameerde kleuren van website ---  */



:root {
    --text-white: #ffffff;
    --text-gray: #3f4954;
    --text-light: #686666da;
    --bg-color: #0f0f0f;
    --white: #ffffff;
    --planetorange: #bd876a;

    --white: #ffffff;
    --lightgray: #dadada;

    --Abel: 'Abel', cursive;
    --Anton: 'Anton', cursive;
    --Josefin: 'Josefin', cursive;
    --Lexend: 'Lexend', cursive;
    --Livvic: 'Livvic', cursive;
}



/* --- Globaal gebruikte divs ---  */

.btn:hover{
    margin-top: 5px;
        background: #d8ac94;
        transition: ease-in-out 0.3s;
}


a {
    text-decoration: none;
    color: var(--text-gray);
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-family: var(--Lexend);
    font-size: 45pt;
}

h2 {
    font-family: var(--Lexend);
}

h3 {
    font-family: var(--Abel);
    font-size: 20pt;
}

button.btn {
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-family: var(--Livvic);
    cursor: pointer;
}

span {
    font-family: var(--Abel);
}

.container {
    margin: 0 5vw;
}

.text-gray {
    color: var(--text-gray);
}

.text-white {
    color: var(--text-white);
    opacity: 25%;
}

p {
    font-family: var(--Lexend);
    color: var(--text-light);
}

.TutorialList{
    margin-bottom: 10vh;
}

.containertut{
    height: 26vh;
    width: 70%;
    margin: auto;
    

    border-top: 2px solid rgba(0, 0, 0, 0.150);

}

.containertut2{
    height: 26vh;
    width: 70%;
    margin: auto;
    border-top: 2px solid rgba(0, 0, 0, 0.150);
    border-bottom: 2px solid rgba(0, 0, 0, 0.150);
}

.tut-post img{
    height: 20vh;
    float: left;
    margin-right: 50px;
    border-radius: 10px;
}

.infotut{
    float: left;

}
.btntut{
        margin-top: 5px;
        background: var(--planetorange);
    }



/* --- Navigatie (+ responsive) ---  */

.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .toggle-collapse {
    position: absolute;
    top: 0%;
    width: 90%;
    display: none;
}

.nav .toggle-collapse .toggle-icons {
    display: flex;
    justify-content: flex-end;
    padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
    font-size: 1.4rem;
    color: var(--text-gray);
}

.collapse {
    height: 30rem;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 2.3rem 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: var(--Abel);
    font-size: 1.1rem;
}

.nav .nav-items .nav-link:hover {
    background-color: var(--planetorange);
}

.nav .nav-items .nav-link:hover a {
    color: var(--white);
}

.nav .nav-brand a {
    font-size: 1.6rem;
    padding: 1rem 0;
    display: block;
    font-family: var(--Lexend);
    font-size: 1.6rem;
}





/* --- Picture header + tekst ---  */
main .site-title {
    background: url('../assets/BackgroundIMG.png');
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    transition: height 1s ease-in-out;
}

main .site-title .site-background {
    padding-top: 30vh;
    text-align: center;
    color: var(--white);
}

main .site-title h1,
h3 {
    margin: .3rem;
}

main .site-title .btn {
    margin: 1.8rem;
    background: var(--white);
}

main .site-title .btn:hover {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

/* --- Picture header + tekst Subpagina's zoals TUTORIALS en INFO ---  */
main .site-title2 {
    background: url('../assets/TutorialPage/BackgroundH.jpg');
    background-position: bottom;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    transition: height 1s ease-in-out;
}

main .site-title2 .site-background {
    padding-top: 15vh;
    text-align: center;
    color: var(--white);
}

main .site-title2 h1,
h3 {
    margin: .3rem;
}


/* --- FAQ ---  */
main .site-title3 {
    background: url('../assets/FAQPAGE/BackgroundF.jpg.png');
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    transition: height 1s ease-in-out;
}

main .site-title3 .site-background {
    padding-top: 15vh;
    text-align: center;
    color: var(--white);
}

main .site-title3 h1,
h3 {
    margin: .3rem;
}


main .site-title4 {
    background: url('../assets/screen/Screenbackground.jpg');
    background-position: center;
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
    transition: height 1s ease-in-out;
}

main .site-title4 .site-background {
    padding-top: 15vh;
    text-align: center;
    color: var(--white);
}

main .site-title4 h1,
h3 {
    margin: .3rem;
}


/* --- Tekst + foto ---  */


.container {
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.text {
    width: 50%;
    margin: auto;
}


.textF {
    width: 60%;
    margin: auto;
}

.textF H1{
 font-size: 25pt;
}

.textSC {
    width: 70vw;
    margin: auto;
    margin-top: -8vh;
    margin-bottom: 10vh;
}

.text img {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.textF img {
    width: 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


/* --- tekst screen ---  */


/* background van Corousel   */




main .tut .tut-vid {
    padding-top: 5rem;
}

main .tut-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: 5rem 2rem;

}

main .tut-content .tut-title {
    padding: 2rem 0;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}



main .tut-content .btn-tut {
    padding: .7rem 2rem;
    background: var(--planetorange);
    margin: .5rem;
}

main .tut-content span {
    display: block;

}

/* arrows   */

section .container .owl-nav {
    position: absolute;
    top: 0%;
    margin: 0 auto;
    width: 100%;
    margin-top: 4%;

}

section .container .owl-nav :hover {
    color: black;
}


/* contact form   */

.containerc{
    margin: auto;
}

.form-group{
margin-top:10px;
    margin-bottom:10px;
border: 1 solid black;}

.contact-form{
    background: #F1F1F1F1;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 15px;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{ 
    width: 9vw;
    margin-top: -6%;
}

.contact-image h1{
    font-size: ;
}

.contact-form form{
    padding: 14%;
    padding-top: 3%;
}
.contact-form form .row{
    margin-bottom: -7%;
}

.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: var(--planetorange);
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}





/* --- Video player --- */
.containerVIDEO {
    display: flex;
        justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 5h;
    margin-bottom: 5vh;
}

.video {
    width: 100%;
}

.buttons {
    padding: 10px;
}

.buttons button {
    background: none;
    border: none;
    outline: 0;
    cursor: pointer;

}

.buttons button:before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    display: inline-block;
    font-size: 28px;
    color: white;
    -webkit-font-smoothing: antialiased;
}

.c-video {
    width: 100%;
    max-width: 1080px;
    position: relative;
    overflow: hidden;
}

.c-video:hover .controls {
    transform: translateY(0);
}

.controls   {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.7);
    transform: translateY(100%) translateY(-5px);
    transition: all .2s;
}



.buttons button.play:before {
    content: '\f144';
    font-family: 'Font Awesome 5 Free';    
}

.buttons button.pause:before {
    content: '\f28b';
    font-family: 'Font Awesome 5 Free';
}

/* Progress bar container */
.orange-bar {
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.65);
}

/* This represents the progress bar */
.orange-juice {
    height: 10px;
    /* width: 100px;  */
    /* background-color: orangered; */
    background-color: rgba(255, 69, 0, 0.5);
}












/* --- Beneden footer ---  */

footer.footer {
    height: 100%;
    background: var(--bg-color);
    position: relative;
}

footer.footer .container {
    display: grid;
    grid-template-columns: repeat(, 1fr);
}

footer.footer .container>div {
    flex-grow: 1;
    flex-basis: 0;
    padding: 3rem .9rem;
}

footer.footer .container h2 {
    color: var(--white);
}



footer.footer .rights {
    justify-content: center;
    font-family: var(--Josefin);
}

footer.footer .rights h4 a {
    color: var(--white);
}

footer.footer .move-up {
    position: absolute;
    right: 6%;
    top: 50%;
}

footer.footer .move-up span {
    color: var(--planetorange);
}

footer.footer .move-up span:hover {
    color: var(--white);
    cursor: pointer;
}


/* --- Mediascreen ipad ---  */



@media only screen and (max-width: 1130px) {



    footer.footer .container {
        grid-template-columns: repeat(2, 1fr);
    }

    .tut-post img{
        height: 18vh;
        float: left;
        margin-bottom: 1vh;
        border-radius: 10px;
    }

    .containertut{
        height: 16vh;
        width: 70%;
        margin: auto;
        
        margin-bottom: 15vh;
        border-top: 2px solid rgba(0, 0, 0, 0.150);
    
    }
    
    .containertut2{
        height:30vh;
        width: 70%;
        margin-bottom: vh;
        border-top: 2px solid rgba(0, 0, 0, 0.150);
        border-bottom: 2px solid rgba(0, 0, 0, 0.150);
        
        
    }
      .contact-image h1{
        font-size:30pt ;
    }
}


        





/* --- staand ipad ---  */

@media only screen and (max-width: 750px) {

    .nav .nav-menu,
    .nav .nav-items {
        flex-direction: column;
    }

    .nav .toggle-collapse {
        display: initial;
    }

    main .site-content {
        grid-template-columns: 100%;
    }

    footer.footer .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .containertut{
        height: Auto;
        width: 70%;
        margin: auto;
        
    
        border-top: 2px solid rgba(0, 0, 0, 0.150);
    
    }
    
    .containertut2{
        height:auto;
        width: 70%;
    

        border-top: 2px solid rgba(0, 0, 0, 0.150);
        border-bottom: 2px solid rgba(0, 0, 0, 0.150);
    }

    .btntut{
        margin-bottom: 5vh;
    }

    .tut-post img{
        height: 20vh;
        float: left;
        margin-bottom: 5vh;
        border-radius: 10px;
    }

    .contact-image h1{
        font-size:30pt ;
    }

}





/* --- Mobiel ---  */

@media only screen and (max-width: 520px) {
   
    .flex-container > div{
       
        
    }

    .text H1{
       font-size: 35pt;
    }
    
    .contact-image h1{
        font-size:25pt ;
    }

    .fontsizebtn{
        font-size: 10pt;
    }

    .containerVIDEO {
        display: flex;
            justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -40vh;
        margin-bottom: -15vh;
    }
    .textSC h1{
        font-size: 30pt;
    }
}


